{% extends "base.html" %}
{% load reviews_extras %}
{% block content %}
    <h2>Votre Flux</h2>
    <div class="flex-container">
        {% for instance in posts %}
            {% if instance|model_type == "Ticket" %}
               <div class="ticket">
                   <a href="{% url 'ticket_detail' instance.id %}">
                       <h4>{{ instance.title }}</h4>
                       {% if instance.image %}
                            <img src="{{ instance.image.url }}" alt="{{ instance.title }}">
                       {% endif %}
                       <p>{{ instance.description }}</p>
                       <p><strong>Publié par {{ instance.user }}</strong></p>
                       <p>{{ instance.time_created }}</p>
                   </a>
               </div>
            {% elif instance|model_type == "Review" %}
                <div class="review">
                    <a href="{% url 'review_detail' ticket_id=instance.ticket.id review_id=instance.id %}">
                        <h4>{{ instance.headline }}</h4>
                        <img src="{{ instance.image.url }}" alt="{{ instance.headline }}">
                        <p><strong>Publié par {{ instance.user.username }}</strong></p>
                        <p>{{ instance.time_created }}</p>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}