{% extends 'base.html' %}

{% block content %}
<h1>Liste des Billets</h1>
<a href="{% url 'home' %}">Accueil</a>
<ul>
    {% for ticket in tickets %}
        <li>
            <strong><a href="{% url 'ticket_detail' ticket.id %}">{{ ticket.title }}</a></strong><br>
            {{ ticket.description }}<br>
            <em>Par {{ ticket.user.username }}, le {{ ticket.time_created }}</em><br>
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="Image du ticket" width="100">
            {% endif %}
            {% if ticket.user == request.user %}
                <a href="{% url 'ticket_update' ticket.id %}">Modifier</a>
                <a href="{% url 'ticket_delete' ticket.id %}">Supprimer</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<a href="{% url 'ticket_create' %}">Créer un nouveau billet</a>
{% endblock %}