{% extends 'base.html' %}
{% block content %}
    <h2>Demande : {{ ticket.title }}</h2>
    {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="">
    {% else %}
        <p>Aucune image</p>
    {% endif %}
    <p>{{ ticket.description }}</p>
    <p>Crée le {{ ticket.time_created }} par {{ ticket.user }}</p>
    {% if ticket.user == user %}
        <a href="{% url 'ticket_update' ticket.id %}">Modifier</a>
        <a href="{% url 'ticket_delete' ticket.id %}">Supprimer</a>
    {% endif %}
    <h3>Critiques</h3>
    {% for review in reviews %}
        <div>
            <p><strong>Par {{ review.user }}</strong></p>
            <div>
                <p>{{ review.headline }}</p>
                <p>{{ review.body }}</p>
                <p>{{ review.rating }}</p>
                {% if review.image %}
                    <img src="{{ review.image.url }}" alt="">
                {% endif %}
            </div>
            {% if review.user == user %}
                <a href="{% url 'review_update' ticket.id review.id %}">Modifier la critique</a>
                <a href="{% url 'review_delete' ticket.id review.id %}">Supprimer la critique</a>
            {% endif %}
        </div>
        <hr>
    {% empty %}
        <p>Aucune critique pour le moment.</p>
    {% endfor %}
    {% if user != ticket.user %}
        <a href="{% url 'review_create' ticket.id %}">Répondre avec une critique</a>
    {% endif %}

{% endblock %}