{{% extends 'base.html' %}

{% block content %}
<h1>Liste des Billets</h1>
<ul>
    {% for ticket in tickets %}
        <li>
            <strong>{{ ticket.title }}</strong><br>
            {{ ticket.description }}<br>
            <em>Par {{ ticket.user.username }} le {{ ticket.time_created }}</em><br>
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="Image du ticket" width="100">
            {% endif %}
        </li>
    {% endfor %}
</ul>
<a href="{% url 'ticket_create' %}">Créer un nouveau billet</a>
{% endblock %}