{% extends 'base.html' %}
{% block content %}
    <h2>Demande : {{ ticket.title }}</h2>
    <img src="{{ ticket.image.url }}" alt="">
    <p>{{ ticket.description }}</p>
    <p>Crée le {{ ticket.time_created }} par {{ ticket.user }}</p>
    {% if ticket.user == user %}
        <a href="{% url 'ticket_update' ticket.id %}">Modifier</a>
        <a href="{% url 'ticket_delete' ticket.id %}">Supprimer</a>
    {% endif %}
        <a href="{% url 'ticket_list' %}" class="btn btn-secondary">Retour</a>
{% endblock %}