{% extends "base.html" %}
{% load reviews_extras %}

{% block content %}
<div class="container mt-4">
    <!-- Return Button -->
    <div class="mb-3">
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Retour</a>
    </div>

    <h2 class="text-center">Créer une Critique (sans ticket préalable)</h2>
    <p class="text-muted text-center">
        Vous pouvez soumettre une critique en créant un ticket et une critique en même temps.
    </p>

    <!-- Form -->
    <div class="card shadow-sm mx-auto">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Ticket Form -->
                <h4 class="text-primary text-center">Informations sur le livre</h4>
                <div class="mb-3 text-left">
                    {{ ticket_form.title.label_tag }}
                    {{ ticket_form.title|add_class:"form-control text-left mx-auto w-85" }}

                    {{ ticket_form.description.label_tag }}
                    {{ ticket_form.description|add_class:"form-control text-left mx-auto w-85" }}

                    {{ ticket_form.image.label_tag }}
                    <div class="text-start mt-2">
                        {{ ticket_form.image|add_class:"form-control w-50" }}
                    </div>
                </div>

                <hr>

                <!-- Review Form -->
                <h4 class="text-success text-center">Votre critique</h4>
                <div class="mb-3">
                    {{ review_form.headline.label_tag }}
                    {{ review_form.headline|add_class:"form-control text-left mx-auto w-85" }}

                    {{ review_form.rating.label_tag }}
                    <small class="form-text text-muted">
                        ( 0 est mauvais, 5 est excellent )
                    </small>
                    {{ review_form.rating|add_class:"form-select w-50" }}

                    {{ review_form.body.label_tag }}
                    {{ review_form.body|add_class:"form-control text-left mx-auto w-85" }}

                </div>

                <!-- Action Button -->
                <div class="d-flex justify-content-between mt-4">
                    <div>
                        <label class="form-label"><strong>Ajouter un fichier :</strong></label>
                        {{ ticket_form.image }}
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" role="button" aria-label="Envoyer">Envoyer</button>
                        <a href="{% url 'home' %}" class="btn btn-danger">Annuler</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
