asgiref==3.8.1
astroid==2.15.8
beautifulsoup4==4.13.1
Django==4.2.18
django-bootstrap-v5==1.0.11
django-crispy-forms==2.3
flake8==6.1.0
flake8-django==1.4
lazy-object-proxy==1.10.0
mccabe==0.7.0
pillow==11.1.0
pycodestyle==2.11.1
pyflakes==3.1.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
wrapt==1.17.2
